
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div> 
        @Html.Partial("~/Views/Shared/MyPartialView.cshtml");
        @Html.Partial("~/Views/Shared/DemoView.cshtml");
    </div>
</body>
</html>
