
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowView</title>
</head>
<body>
    <div> 
        <h1>Use of Partial View</h1>
        @Html.Partial("~/Views/Shared/DemoView.cshtml")
    </div>
</body>
</html>
